@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="col-10 m-auto">
        <nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top" role="alert">
            <div class="container">
                <p class="navbar-text">
                    This site uses cookies for analytics, personalized content and ads. By continuing to browse this site, you agree to this use.
                </p>
                <div class="navbar-right">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
                    <button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">Accept</button>
                </div>
            </div>
        </nav>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click",
                function (el) {
                    document.cookie = el.target.dataset.cookieString;
                    document.querySelector("#cookieConsent").classList.add("d-none");
                },
                false);
        })();
    </script>
}
